<configuration>
  <system.webServer>
    <handlers>
      <!-- Apunta a Python y a main.py dentro de la carpeta src -->
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python39\python.exe|D:\home\site\wwwroot\src\main.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Redirige todas las solicitudes a src/main.py -->
        <rule name="FlaskApp" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="src/main.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>